# SPDX-FileCopyrightText: © 2022–2023 Kevin Lu
# SPDX-Licence-Identifier: LGPL-3.0-or-later
name: Download wikitext from Yugipedia

on:
  workflow_dispatch:
    inputs:
      category:
        description: URL-encoded Yugipedia category
        default: Duel_Monsters_cards
        required: true
      gcmcontinue:
        description: Mediawiki API gcmcontinue parameter
        required: false

jobs:
  download:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
          cache: pip
      - run: pip install -r src/requirements.txt
      - env:
          WIKI_CATEGORY: ${{ github.event.inputs.category }}
          WIKI_GCMCONTINUE: ${{ github.event.inputs.gcmcontinue }}
        run: |
          mkdir -p "wikitext/$WIKI_CATEGORY"
          cd "wikitext/$WIKI_CATEGORY"
          python3 ../../src/main.py "$WIKI_CATEGORY" "$WIKI_GCMCONTINUE"
      - uses: DawnbrandBots/.github/actions/commit-push@main
        if: always()
        with:
          message: "Yugipedia download ${{ github.run_number }} (${{ github.run_id }}): ${{ github.event.inputs.category }}"
